.progress-screen {
  box-sizing: border-box;
  padding: 8px;
}
.top-section {
  color: #757575;
  font-size: 24px;
}
.top-section i {
  padding: 4px;
}
.title {
  font-size: 22px;
  font-weight: 600;
}
.option {
  margin: 12px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: .4rem;
  padding: 8px;
  box-sizing: border-box;
  background: #fff;
  font-weight: 600;
}
.option.selected {
  border-color: var(--main-color);
  background: var(--main-color-background);
}
.option img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}