@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexyen.css');

:root {
  --main-color: #f2b830;
  --main-color-background: #fdf4df;
  --secondary-color-background: #f7f4ee;
  --main-color-disabled: #f6e1b1;
  --main-color-transparent: #f2b83044;

  --color-1: #eed056;
  --color-2: #ec1c24;
  --color-3: #7be7ba;
  --color-4: #e0a21b;
  --color-5: #ed8fad;
  --color-6: #3c42f4;
  --color-7: #0ed145;
  --color-8: #00a8f3;
  --color-9: #afa7dc;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
body * {
  font-family: 'Quicksand', sans-serif;
  transition: all .2s;
}
.app {
  width: 100vw;
  height: 100vh;
}
.primary-button {
  background: var(--main-color);
  color: #fff;
  border-radius: .4rem;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-v {
  flex-direction: column;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}