.results-screen {
  box-sizing: border-box;
  padding: 8px;
  background: var(--secondary-color-background);
  overflow: scroll;
}
.wheel-container {
  max-width: 400px;
  width: 95%;
}
.animal-img {
  width: 80%;
}
.wheel-section {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .results-content {
    display: flex;
  }
  .results-content > * {
    flex: 1;
  }
  .wheel-section {
    margin-top: 0px;
  }
  .animal-img {
    width: 80%;
    max-width: 360px;
  }
}